div.flash-message {
	position: fixed;
	width: 400px;
	height: 200px;
	background: white;
	border: 1px solid black;
}

div.thread {
	width: 800px;
	margin:10px;
}

div.new-post {
	border:1px solid black;
	width:700px;
}

button.new-post {
	
}

input[type="text"].new-post {
	
}

input[type="file"].new-post {
	
}

textarea.new-post {
	
}

div.post {
	margin: 10px;
	padding: 10px;
	width: 700px;
	border: 1px solid black;
}

div.post-content {
}

div.post-image {
	display:inline-block;
	vertical-align:top;
}

div.post-text {
	display:inline-block;
	vertical-align:top;
	padding: 10px;
}

div.post-header {
	color: blue;
	border-bottom: 1px solid black;
	width: 100%;
}